# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#Local paths

local_paths.py

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#Testing

testing.py
*.xlsx